body,
html {
  height: 100%;
  margin: 0;
}
 
.introduction{
    text-align: center;
  background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgb(0, 0, 0)),
      url('images/donation11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 50px;
    color:white;
    font-family: 'Archivo Narrow', sans-serif;
    
  }
.introduction p {
  font-size: 30px; 
  }
.donate{
  font-size: 20px;
  background-color: aqua;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(rgb(126, 116, 31), orange);
  padding: 15px 30px;
  border-radius: 3PX;
  font-weight: 600;
}
.method{
  text-align: center;
  padding-top: 100px;
}
#first-div{
  font-size: 35px;
}
#first-div p{
  font-size: 30px;
  padding-left: 420px;
  padding-right: 420px;
  padding-bottom: 30px;
  
}
#row {
  display: flex;
  padding-left:  300px;
  padding-bottom: 60px;
}
.second-div{
  font-size: 30px;
   
 
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  
 
}
#action{
  margin-bottom: 50px;
}
span{color:rgb(199, 50, 50);
  background-color: rgba(255, 178, 178, 0.658);
  border: 3px solid rgb(199, 50, 50);
  border-radius: 10px;
  padding: 40px 20px;
  

  }
  .part-plan{text-align: center;
    font-size: 30px;padding-top:90px;
    
  }
  .full-part{
    display: flex;
    font-size: 25px;
    margin-left: 80px;
    margin-right: 80px;
   
     
  }
  #part1{
    background-color: rgb(165, 214, 198);
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-top: 40px;
   
    }
   
    #part1 h1{color:blue;
      padding-top: 50px;
    }
    #part2 {
      background-color: rgba(178, 190, 144, 0.308);
      padding: 1%;
      margin: 1%;
      border-radius: 10px;
      background-image: url(icons/shelter.png);
      background-repeat: no-repeat;
      background-origin: content-box;
      padding-top: 40px;
   
  }
    #part2 h1 {color: blue;
      padding-top: 50px;
    }
     #part3 {
       background-color: rgb(144, 172, 190);
       padding: 1%;
       margin: 1%;
       border-radius: 10px;
       background-image: url(icons/Frame-1.png);
       background-repeat: no-repeat;
       background-origin: content-box;
       padding-top: 40px;
        
      
    }
        #part3 h1 {color: blue;
          padding-top: 50px;
        }
    footer{color:antiquewhite;
      background-color: black;
      text-align: center;
      padding: 40px;
      margin-top: 80px;
      font-style:oblique;
    }
    footer h1{
      color:rgb(252, 111, 111)
    }
  