  body,
  html {
    height: 100%;
    margin: 0;
  }
  
  .introduction{
    text-align: center;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgb(0, 0, 0)),
    url('images/donation11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 50px;
    color:white;
    font-family: 'Archivo Narrow', sans-serif;
      
    }
  .introduction p {
    font-size: 25px; 
    }
  .donate{
    font-size: 20px;
    background-color: aqua;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgb(126, 116, 31), orange);
    padding: 15px 30px;
    border-radius: 3PX;
    font-weight: 600;
    
  }
  .method{
    text-align: center;
    padding-top: 100px;
  }
  #first-div{
    font-size: 35px;
  }
  #first-div p{
    font-size: 25px;
    padding-left: 420px;
    padding-right: 420px;
    padding-bottom: 30px;
    
  }
  #row {
    display: flex;
    padding-left:20%;
    padding-bottom: 20px;
  }
  .second-div{
    font-size: 25px;
    padding-bottom: 40px;
    padding-left: 2%;
    padding-right: 3%;
    
     
  }
  #action{padding: 20px;
    margin-bottom: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 20px;
  }
  span{color:rgb(199, 50, 50);
    background-color: rgba(255, 178, 178, 0.658);
    border: 3px solid rgb(199, 50, 50);
    border-radius: 10px;
    padding: 40px 20px;
    

  }
  .part-plan{text-align: center;
    font-size: 30px;padding-top:90px;
      
  }
  .full-part{
    display: flex;
    font-size: 25px;
    margin-left: 80px;
    margin-right: 80px;
    
      
  }
  #part1{
    background-color: rgb(165, 214, 198);
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-top: 40px;
    
  }
    
  #part1 h1{color:rgb(190, 102, 29);
    padding-top: 50px;
  }
  #part2 {
    background-color: rgba(178, 190, 144, 0.308);
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-top: 40px;
    
  }
  #part2 h1 {color: rgb(0, 132, 255);
    padding-top: 50px;
  }
      
  #part3 {
    background-color: rgb(158, 181, 196);
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-top: 40px;
          
        
  }
  #part3 h1 {color: rgb(255, 196, 0);
    padding-top: 50px;
  }
  
      
  #up-events {
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
  }
  #up-events h1{
    font-size: 50px;
  }
      
  .events2 {
    display: flex;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #events1 {
    display: flex;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
  }
  #events2 {
    display: flex;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
     
  }
      
  #part-events1 {
    text-align: justify;
    margin: 0px 10px;
    margin-left: 10px;
    padding-bottom: 5%;
    padding-left: 1.5%;
    padding-right: 2%;
    
  }
      
  #part-events2 {
    text-align: justify;
    margin: 0px 10px;
    padding-left: 5px;
    padding-right: 2%;
    
      
  }
      
  
  #part-events3 {
    text-align: justify;
    margin: 0px 10px;
    margin-left: 10px;
    padding-bottom: 5%;
    padding-left: 1.5%;
    padding-right: 2%;
    
      
      
  }
  #part-events4 {

    text-align: justify;
    margin: 0px 10px;
    padding-left: 5px;
    padding-right: 2%;
  }
  .learn {
    background-image: linear-gradient(rgb(158, 157, 74), rgb(54, 92, 150));
    text-decoration: none;
    padding: 10px 25px;
    color: white;
    border-radius: 7px;
    text-align: end; 
     
  }
  
  .subscribe{
    text-align: center;
    font-size: 30px;
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .subscribe p{
    font-size: 30px;
    padding: 10px 30%;
  }
  #subs-button{
    padding:3% 7%;
    margin:0%;
    border:0;
    border-radius: 2px;
    background-color: rgb(180, 199, 199);
  }
  #subs-button2{background-color: brown;
    padding: 0% 8%;
    border: 0;
    border-radius: 2px;
    color: aliceblue;
    font-size: 18px;

    }
  .subs-back{
    background-color: rgba(253, 252, 172, 0.541);
    margin:2% 20%;
    padding:5% 10%;
    display: flex;
  }
  
  footer {
    color: antiquewhite;
    background-color: black;
    text-align: center;
    padding: 40px;
    margin-top: 80px;
    font-style: oblique;
  }
  
  footer h1 {
    color: rgb(235, 75, 75);
    font-family: 'Yellowtail', cursive;
  }